@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="login">
    <!-- LOGIN PAGE -->
    <ul>
        <li>Konobar 1</li>
        <li>Konobar 2</li>
        <li>Konobar 3</li>
        <li>Konobar 4</li>
        <li>Konobar 5</li>
    </ul>
</main>