/* COLORS */
/* BODY #3b3b3b; */
/*  */
body {
    padding: 0;
    margin: 0 auto;
    background-color: #3b3b3b;
}

nav {
    background-color: #ffffff;
    position: absolute;
    width: 60vw;
    height: 10vh;
    top: 2vh;
    margin-left: 20vw;
    margin-right: 10vw;
    border-radius: 5px;
}

    nav > div > img {
        width: 10vh;
        margin-left: 1vw;
    }

    nav > ul {
        /* float:right; */
        position: absolute;
        top: 0.5vh;
        width: 50vw;
        margin-top: 1vh;
        margin-left: 15vw;
        padding: 0;
    }

        nav > ul > li {
            display: inline-block;
            padding-top: 2vh;
            padding-bottom: 2vh;
            padding-left: 2vw;
            padding-right: 2vw;
            background-color: #3b3b3b;
            border-radius: 10px;
            border: 2px solid #3b3b3b;
        }

            nav > ul > li:hover {
                background-color: #636363;
                color: #000000 !important;
            }

            nav > ul > li > a {
                text-decoration: none;
                font-size: 100%;
                color: #ffffff;
                font-weight: bold;
            }

.login {
    background-color: #fff;
    position: absolute;
    top: 28vh;
    width: 32vw;
    left: 34vw;
    height: 20vh;
    border-radius: 10px;
    padding: 20px;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #636363;
    color: white;
}

    input[type=text]:active {
        background-color: #9b9b9b;
    }

.login > button {
    background-color: #636363;
    border-radius: 5px;
    columns: white;
    text-decoration: none;
    border: 0;
    font-size: 14pt;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: 2px solid #636363;
}

button:hover {
    background-color: white;
    border: 2px solid #636363;
    color: #636363;
}

label {
    font-size: 16pt;
    font-weight: bold;
}

footer {
    position: absolute;
    top: 93.5vh;
    width: 100vw;
    height: 5vh;
    padding-top: 1.5vh;
    margin: 0;
    background-color: #fff;
    text-align: center;
}

.box {
    background-color: #636363;
    position: absolute;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    height: 75vh;
    border-radius: 10px;
}

    .box > .heading {
        color: white;
        font-size: 20pt;
        text-align: center;
        padding-top: 20px;
    }

.tables {
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    margin-top: 2vh;
    gap: 2vw;
    justify-content: center;
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-image: url("/img/table.png");
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    border: 6px solid rgb(0, 255, 42);
    text-align: center;
    margin-top: 2vh;
}

    .table > div {
        /* background-color: blue; */
        line-height: 100px;
        color: rgb(73, 15, 15);
        font-size: 30pt;
        font-weight: bold;
    }

hr {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats {
    width: 100%;
    /* background-color: red; */
    text-align: center;
}

.data {
    color: white;
    font-size: 16pt;
    margin-left: 20px;
    display: inline;
}

.data1 {
    color: white;
    font-size: 10pt;
    margin-left: 20px;
    display: inline;
}

#t1 {
    border-color: red !important;
}

#t5 {
    border-color: blue !important;
}

#red {
    background-color: red;
}

#green {
    background-color: rgb(0, 255, 42);
}

#blue {
    background-color: blue;
}
