<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoffeTable</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <!-- COMMON NAV -->
        <div><a href="index.html"></a><img src="img/logo1.png" alt=""></div>
        <ul>
            <li><a asp-page="/index">LOGIN</a></li>
            <li><a asp-page="/home">STATS</a></li>
            <li><a asp-page="/receipt">RECEIPTS</a></li>
        </ul>
    </nav>




    @RenderBody()

    <footer>
        <!-- COMMON FOOTER -->
        CoffeeTables
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
